#title {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
    cursor: url('/Images/cursors/text.cur'), auto;
}
html {
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;  
    font-weight: bold;
}
p {
    cursor: url('/Images/cursors/text.cur'), auto;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: auto;
    z-index: -1;
  }
input {
    font-family: "Calisto MT";
    text-align: center;
  }
h1, h2, h3 {
    color: aliceblue;
}
li {
    text-shadow: 1px 1px 1px rgba(11, 17, 36, 0.832);
    color: aliceblue;
}
#home {
    font-size: large;
}
.text {
    text-align: center;
    width: 100%; 
    height: 100%;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;  
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(46,91,173,0.6);
}
#sign-up {
    text-shadow: 1px 1px 1px rgba(46,91,173,0.6);
    color: aliceblue;
}
p {
    text-shadow: 1px 1px 1px rgba(46,91,173,0.6);
    color: aliceblue;
}
label {
    padding: 10px;
}
#input_title {
    float: inline-start;
}
/* NAVBAR CSS RIPPED*/
#topnav {
    overflow: hidden;
    z-index: 1;
    text-align: center;
  }
#topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    text-shadow: 1px 1px 1px rgba(46,91,173,0.6);
    font-weight: bold;
  }
#topnav a:hover {
    background-color: rgba(0, 38, 110, 0.622);
    color: aliceblue;
  }
#topnav a.active:hover {
    color: aliceblue;
    background-color: rgba(0, 38, 110, 0.622);
  }
/*CURSORCSS*/
a {
    cursor: url('/Images/cursors/link.cur'), auto;
}
html {
    z-index: 1;
    cursor: url('/Images/cursors/normal.cur'), auto;
}
input {
    cursor: url('/Images/cursors/text.cur'), auto;
    font-family: "Calisto MT";
}
#register_button {
    cursor: url('/Images/cursors/link.cur'), auto;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;  
    font-weight: bold;
}
label {
    cursor: url('/Images/cursors/normal.cur'), auto;
}
ul {
    list-style: none;
}

